@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser> 
@{

    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Id)</th>
            
            <th>@Html.DisplayNameFor(Model => Model.UserName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>