@model IEnumerable<WebAppDemoStudent.Models.Booking>

@{
    ViewData["Title"] = "GetUserByEmail";
}
<body class="createbg">

    @if (User.IsInRole("patient"))
    {
        <h2>Booked Appointments</h2>
        
    }
    

    @if (User.IsInRole("doctor"))
    {
        <h2>Show Appointments</h2>
    }
    <br />

@if (User.IsInRole("patient"))
 {
        <p>
            <a class="btn btn-primary" class="btn btn-s" asp-action="Create">Create Appointment</a>
        </p>
 }
 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptoms)
            </td>
            <td>

                @{
                    string[] nameParts = item.Doctor.Split('@');
                    if (nameParts.Length > 0)
                    {
                        string name = nameParts[0];
                        @Html.DisplayFor(modelItem => name)
                    }
                }
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit </a> | 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>

@* 
@model IEnumerable<WebAppDemoStudent.Models.Booking>

<form asp-action="GetUserByEmail" method="post">
    <label for="email">Enter Email:</label>
    <input type="text" name="email" />
    <button type="submit">Search</button>
</form>

@if (Model != null)
{
    <h2>Users with the specified email:</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.Symptoms</td>
                    <td>@user.Date</td>
                    <td>@user.Weight</td>
                </tr>
            }
        </tbody>
    </table>
} *@