@model IEnumerable<WebAppDemoStudent.Models.Booking>

@{
    ViewData["Title"] = "Index";
}
<br />
<body class="Indexbg">
@if ((User.IsInRole("patient")) || (User.IsInRole("admin"))) {
    <h1>Booked Appointments</h1>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create Appointment</a>
    </p>
}
@if (User.IsInRole("doctor")){
    <h1>Scheduled Appointments</h1>
}
    <br /><br />




<table class="table border-1 border-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                    @* <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
